@mobile: 320px;
@mobile-l:   425px;
@breakpoint-mobile-hd:  640px;
@breakpoint-phablet:    768px;
@breakpoint-tablet:     960px;
@breakpoint-laptop:     1024px;
@breakpoint-desktop:    1152px;
@breakpoint-laptop-hd:  1280px;


// mixin for media quary
.screen(@min, @max, @ruleset) {
  @media (min-width: @min) and (max-width: (@max - 1)) {
    @ruleset();
  }
}