@import url(brakepoints.less);
@font-face {
    font-family: "HKGrotesk", sans-serif;
    src: url(../fonts/hk-grotesk/HKGrotesk-Light.otf);
}
@font-face {
    font-family: "LeagueSpartan", sans-serif;
    src: url(../fonts/league-spartan/LeagueSpartan-Bold.otf);
}

// mixin for media quary
.screen(@min, @max, @ruleset) {
  @media (min-width: @min) and (max-width: (@max - 1)) {
    @ruleset();
  }
}
.bordered () {
    border-width: 3px;
    border-style: solid;
}

@background-color:hsl(223, 31%, 20%);
@hover-color:  #82c9d8;
@title-color: #fff;
@text-color:  #92a1a9;
@border-color: #eec9a2;
@border-color-input:#63757e;
@main-font: "HKGrotesk", sans-serif;
@bold-font: bold;
@normal-font: 300;
@small-title: 1.125rem;
@normal-title: 1.5rem;
@midi-title:  2.25rem;
@large-title: 3rem;
@extra-title: 5rem;
@btn-padding: 2% 3%;


// STYLES

* {
    box-sizing: border-box;
}


html { 
    font-size: calc(16px + 0.25vw) 
}

body {
    background-color: @background-color;
    font-family: @main-font;
    margin: 0 auto;
    line-height: normal;
}
.site-wrapper {
    margin: 0 auto;
    padding: 2% 9%;
}
.header {
    display: flex;
}
.header__search {

    .screen(320px, 640px, {
        display: none;
    });
}
.main {
    color: @title-color;
}
.header__logo {
    .screen (320px, 640px, {
        width: 60%;
        margin-left: auto;
        order: 1;
  });
}
.burger {
    width: 50px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-bottom: 30px;

    .menu-on {
        display: block;
    
}
.menu__stripe {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: @hover-color;
    border-radius: 2px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
        &:nth-child(2) {
            top: 18px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
        &:nth-child(3) {
            top: 36px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
            }

    }
}
.burger .menu-on .menu__stripe {

            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }
            :nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                top: 39px;
                left: 8px;
                }
}

.menu__list-mobile{
    visibility: hidden;
    position: absolute;
    background-color: @background-color;
    top: 52px;
    left: -200px;
    width: 80vw;
    padding: 15px 10px;
    transition: left .3s;

    .screen(320px, 425,{ 
    
    });

}
 .show-menu {
        visibility: visible;
        left: 0;
        z-index: 2;
    }




.main__offer-title {
    font-size: @extra-title;
    font-family: "LeagueSpartan", sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: @bold-font;

    .screen (320px, 640px, {
       font-size: 4rem;
  });
}
.main__offer-description {
    font-family: @main-font;
    font-size: 1.2rem;
    font-weight: @normal-font;
    padding-bottom: 40px;

    .screen (320px, 640px, {
  });
}

.main__offer-button,
.subscribe__form-input,
.main__offer-button,
.main__goods-description,
.menu__link {
    font-family: @main-font;
    font-size: @normal-title;
    font-weight: @normal-font;
    
    .screen (320px, 640px, {
        font-size: @small-title;
  });
}
.link {
    text-decoration: none;
    color: @text-color;
    transition: all 0.6s ease-in-out;
    &:hover {
        color: @title-color;
    }
}
 .button {
     background-color: transparent;
     color: @title-color;
     transition: all 0.6s ease-in-out;
     .bordered;
     border-color: @border-color;
 }
.main__offer-button{
    padding: @btn-padding;
    &:hover {
            color: @hover-color;
            border-color: @hover-color;
        }
}
 .main__goods-title {
    font-family:  "LeagueSpartan", sans-serif;
    font-size: @large-title;
    font-weight: @bold-font;
    text-transform: uppercase;
        
        .screen (320px, 640px, {
        font-size: @large-title / 1.5;
  });

 }
 .main__goods-button,
 .main__list-button,
 .subscribe__form-button {
     font-size: @small-title;
     font-family: "LeagueSpartan", sans-serif;
     font-weight: @bold-font;
     text-transform: uppercase;
     padding:@btn-padding ;
     
     .screen (320px, 640px, {
        
  });
  &:hover {
            color: @hover-color;
            border-color: @hover-color;
        }
 }
 .main__list-title {
     font-size: @midi-title;
     font-family: "LeagueSpartan", sans-serif;
     text-transform: uppercase;
     font-weight: @bold-font;
     padding: 10% 0;

     .screen (320px, 640px, {
        font-size: @midi-title / 1.5;
  });
 }
 .main__list-description {
     font-family: @main-font;
     font-size: 16px;
     font-weight: @normal-font;
     

     .screen (320px, 640px, {
        
  });
 }
.main__offer,
.main__goods-item,
.main__list-item {
    display: flex;
    flex-direction: column;
}

.main__offer {
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 4%;   
    background-image: url(../img/Gina.jpg) ;
}
.main__goods-item {
    padding-top: 10%;

}
.main__goods-description {
        padding: 10% 0;
}
 .first-good {
    background-image: url(../img/Beoplay.jpg) ;
    padding-right: 5%;
    text-align: right;
    align-items: flex-end;
 }
 .second-good {
     background-image: url(../img/Leica.png);
     text-align: left;
     padding-left: 5%;
     align-items: flex-start;
 }
.main__offer,
.first-good,
.second-good,
.first-item,
.second-item,
.third-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    
    .screen (320px, 640px, {
        height: 50vh;
        
  });
 }
 .main__list-item {
    padding: 10%  5%;
    align-items: center;
 }
.first-item {
    background-image: url(../img/Molekule.png);
}
.second-item {
     background-image: url(../img/Signature.png);
     justify-content: flex-end;
}
 .third-item {
     background-image: url(../img/DR-II.png);
 }
 .subscribe {
    display: flex;
    flex-direction: column;
    text-align: center;
 }


 .subscribe__appile-title {
     font-size: @midi-title;
     font-weight: @normal-font;
     font-family: @main-font;
     color: @text-color;
     padding: 10% 0;


     .screen (320px, 640px, {
        font-size: @midi-title / 1.5;
  });
 }
.subscribe__appile-text,
.footer__copyright {
    font-weight: @normal-font;
    font-family: @main-font;
    font-size: @small-title;
    color: @text-color;
    padding-bottom: 10%;


 }
 .subscribe__form {
    display: flex;
    flex-direction: column;

    .subscribe__form-input,
    .subscribe__form-button {
        padding: @btn-padding;
        .bordered();
        border-color: @border-color-input;
        text-align: center;
    }
    .subscribe__form-input{
        background: transparent;

    }
    .subscribe__form-button{
        margin: 10px 0;
    }
 }
.footer__menu {

     .screen (320px, 640px, {
        display: none;
  });
}
.footer__copyright {
    text-align: center;
}