@import url(styles.less);




.menu__mobile {

    .screen(640px, 768px, {
        display: none;
    });
}

.header__search {
    align-self: center;
    
     .header__input-search {
        flex: 1;
        background: transparent;
        position: relative;
        border: none;
    
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            color: @border-color-input;
            bottom: 0;
            left: 0;
            }
    }
}
.main__offer {
    .screen(640px, 768px, {
        margin: 20px 0;
        height: 80vh
    });
}
.main__offer-description {

    .screen(640px, 768px, {
        width: 40%;
    });
}
.main__offer-button {
    margin-bottom: 10%;
}

.main__goods-item {

    .screen(640px, 768px, {
        height: 80vh;
        margin-bottom: 20px;
    });
}
.main__goods-description {

    .screen(640px, 768px, {
        font-size: 1.25rem;
        width: 77%;
    
    });
}
.main__list-item {
    .screen(640px, 768px, {
        height: 70vh;
        padding-top: 10%;
        margin: 20px 0;
    });
}
.subscribe__appile-title {
    .screen(640px, 768px, {
        padding: 3% 0;
    
    });
}
.subscribe__form {
    .screen(640px, 768px, {
        align-self:center;
    
    });
}

.menu__list {
    .screen(640px, 768px, {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 5%; 
        
    });
}
.menu__item {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        width: 3px;
        height: 3px;
        background-color: @text-color;
        border-radius: 50%;
        top: 50%;
        right: -23px;
    }
}
.footer__copyright {
    .screen(640px, 768px, {
        padding: 10% 0;
    });
}